<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="wide=device-width,initial-scale=1,shrink-to-fit=no">
<link rel="stylesheet" href="../static/css/bootstrapperson.css">
<link rel="stylesheet" href="../static/css/gijao.css">
<link rel="stylesheet" href="../static/css/person.css">
<title>修改信息</title>
</head>

<!--justify-content-between-->
<body background="../static/img/bg.jpg"
	style=" background-repeat:no-repeat ;background-size:cover;background-attachment: fixed;" >
	<div class="container">
		<h2>Main Infomation</h2>
	<form action="/auth/edit_profile" method="post" role="form" id="form-test" enctype="multipart/form-data">
		<div class="form-row">
			<div class="col-md-2">
			<button type="button" class="btn btn-light modify">修改</button>
			</div>
			<div class="col-md-2">
			<button type="submit" name="submit" class="btn btn-primary confirm">确认</button>
			</div>
		</div>
		<img src="{{url_for('static',filename=current_user.main_image_url)}}" alt="用户头像" class="img-thumbnail rounded" width="200" height="200">

		<div class="form-group col-md-3">
			<label for="submitphoto">上传头像</label>
			<input type="file" class="form-control-file subphoto" name="main_image" id="submitphoto" disabled>
		  </div>
		<div class="form-row">
		  <div class="form-group col-md-6">
			<label for="InputName">昵称</label>
			<input type="text" class="form-control Name" name="nickname" id="InputName" disabled>
		  </div>
		</div>

		<div class="form-row">
			<div class="form-group col-sm-3">
				<label for="selectgender">性别</label>
				<select type="text" id="selectgender" name="gender" class="form-control gender" disabled>
				  <option selected>保密</option>
				  <option>男</option>
				  <option>女</option>
				</select>
			  </div>
			</div>
		<div class="form-row">
            <div class="form-group col-md-2">
				<label for="datepicker">生日</label>
                <div class="card">
                    <div class="card-body">
                        <input type="text" name="date_of_birth" class="form-control datepicker" id="datepicker" placeholder="--请选择--"disabled>
                    </div>
                </div>
            </div>
		</div>

		<label for="location">所在地</label>
		<div class="form-row" id="location">
			<div class="col-sm-2">
				<select name="province" id="input_province" class="form-control province" disabled>
					<option value="">--请选择--</option>
					<option>保密</option>
				</select>
			</div>
			<div class="col-md-2">
				<select name="city" id="input_city" class="form-control city" disabled>
					<option value="">--请选择--</option>
				</select>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm-3">
				<label for="inputlove">love</label>
				<select type="text" id="inputlove" name="sexuality" class="form-control love" disabled>
				  <option selected>取向</option>
				  <option>男</option>
				  <option>女</option>
				  <option>双性恋</option>
				</select>
			  </div>
			</div>
		<div class="form-row">
			<div class="form-group col-sm-4">
			  <label for="InputHeight">身高(/m)</label>
			  <input type="text" name="height" class="form-control height" id="InputHeight" disabled>
			  </div>
		  </div>
		  <div class="form-row">
			<div class="form-group col-sm-3">
				<label for="InputWeight">体型</label>
				<select type="text" id="InputWeight" name="size" class="form-control weight" disabled>
				  <option>保密</option>
				  <option>偏瘦</option>
				  <option>中等</option>
				  <option>微胖</option>
				</select>
			  </div>
			</div>
		  <div class="form-row">
			<div class="form-group col-sm-3">
				<label for="inputedu">学历</label>
				<select type="text" id="inputedu" name="education" class="form-control edu" disabled>
				  <option selected>保密</option>
				  <option>高中及以下</option>
				  <option>大学本科</option>
				  <option>硕士生</option>
				  <option>博士生及以上</option>
				</select>
			  </div>
			</div>
		  <div class="form-row">
			<div class="form-group col-sm-3">
			  <label for="InputSalary">薪资</label>
			  <input type="text" class="form-control salary" name="salary" id="InputSalary" required disabled>
			  </div>
		  </div>
		<div class="form-row">
			<div class="form-group col-sm-6">
				<label for="pre">自我介绍</label>
    			<textarea class="form-control pre" rows="3" name="about_me" id="pre" disabled></textarea>
			</div>
		</div>
		<!------------------------------------------------------------->
		<h2>Additional Infomation</h2>
		  <div class="form-row">
			<div class="form-group col-sm-4">
			  <label for="occupation">所在地</label>
			  <select type="text" class="form-control occupation" name="occupation" id="occupation" disabled>
				  <option>保密</option>
				  <option>程序猿（媛）</option>
				  <option>教育</option>
				  <option>医疗</option>
				  <option>金融</option>
				  <option>学生</option>
				  <option>自由职业</option>
				  <option>美少女</option>
				  <option>霸道总裁</option>
				  <option>视频博主</option>
				  <option>超级英雄</option>
				  <option>纸片人</option>
				  <option>冒险者</option>
				  <option>修仙者</option>
				  <option>演员</option>
				  <option>其他</option>
				  </select>
			  </div>
		  </div>
				<div class="form-row">
					<div class="form-group col-sm-3">
						<label for="inputmarriage">感情状况</label>
						<select type="text" id="inputmarriage" name="love_state" class="form-control marriage" disabled>
						  <option selected>保密</option>
						  <option>未婚</option>
						  <option>离异</option>
						  <option>丧偶</option>
						</select>
					  </div>
					</div>
	<!--------------------------------------------------------------->
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label for="inputconstellation">constellation</label>
			<select type="text" id="inputconstellation" name="constellation" class="form-control constellation" disabled>
			  <option selected>保密</option>
			  <option>水瓶座</option>
			  <option>双鱼座</option>
			  <option>白羊座</option>
			  <option>金牛座</option>
			  <option>双子座</option>
			  <option>巨蟹座</option>
			  <option>狮子座</option>
			  <option>处女座</option>
			  <option>天秤座</option>
			  <option>天蝎座</option>
			  <option>射手座</option>
			  <option>魔羯座</option>
			</select>
		  </div>
		</div>
	</form>
	
	</div>



<script src="../static/js/jquery.js"></script>
<script src="../static/js/popper.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/gijao.js"></script>
<script src="../static/js/messages.zh-cn.js"></script>
<script src="../static/js/cityAndPro.js"></script>
<script src="../static/js/person.js"></script>
<script>
	$("#datepicker").datepicker({
		locale: 'zh-cn',
		format: 'yyyy-mm-dd',
		weekStartDay: 1
	});
</script>
<script>
	$(function() {
		var html = "";
		var province_idx;
		$("#input_city").append(html);

		$.each(cityMessage, function(idx, item) {
			if(item.parid == '1'){
			html += "<option value='" + item.regname + "' exid='" + item.regid + "'>" + item.regname + "</option>";
			}
		});
		$("#input_province").append(html);
		$("#input_province").change(function(e) {
			var province =$(this).val();
			var cityList = [];
			if(province == "") return;
			$("#input_city option").remove();
			var html = "<option value=''>--请选择--</option>";
			
//					获取已选择的省份的数组下标
			$.each(cityMessage, function(idx, item) {
				if(province == item.regname && item.parid == '1') {
					province_idx=idx
				}
			})
			
//					获取已选择的省份的城市列表
			$.each(cityMessage, function(idx, item) {
				if(cityMessage[idx].parid == cityMessage[province_idx].regid) {
					cityList.push(cityMessage[idx])
				}
			})
			
//					添加城市信息给标签
			if(cityList instanceof Array && cityList.length>0){
				$.each(cityList, function(idx, item) {
					console.log(item)
					html += "<option value='" + item.regname + "' exid='" + item.regid + "'>" + item.regname + "</option>";
					
				});
			}else{
				html += "<option value='" + cityMessage[province_idx].regname + "' exid='" + cityMessage[province_idx].regid + "'>" + cityMessage[province_idx].regname + "</option>";
					
			}
			$("#input_city").append(html);
		});
	});
</script>

<script>
	  document.querySelector('.modify').onclick = function() {
		document.querySelector('.subphoto').disabled=false;
	  document.querySelector('.Name').disabled=false;
	  document.querySelector('.gender').disabled=false;
	  document.querySelector('.datepicker').disabled=false;
	  document.querySelector('.province').disabled=false;
	  document.querySelector('.city').disabled=false;
	  document.querySelector('.love').disabled=false;
	  document.querySelector('.height').disabled=false;
	  document.querySelector('.weight').disabled=false;
	  document.querySelector('.edu').disabled=false;
	  document.querySelector('.pre').disabled=false;
	  document.querySelector('.salary').disabled=false;
	  document.querySelector('.occupation').disabled=false;
	  document.querySelector('.marriage').disabled=false;
	  document.querySelector('.constellation').disabled=false;
	  }
	  document.querySelector('.confirm').onclick = function() {
		document.querySelector('.subphoto').disabled=true;
	  document.querySelector('.Name').disabled=true;
	  document.querySelector('.gender').disabled=true;
	  document.querySelector('.datepicker').disabled=true;
	  document.querySelector('.province').disabled=true;
	  document.querySelector('.city').disabled=true;
	  document.querySelector('.love').disabled=true;
	  document.querySelector('.height').disabled=true;
	  document.querySelector('.weight').disabled=true;
	  document.querySelector('.edu').disabled=true;
	  document.querySelector('.pre').disabled=true;
	  document.querySelector('.salary').disabled=true;
	  document.querySelector('.occupation').disabled=true;
	  document.querySelector('.marriage').disabled=true;
	  document.querySelector('.constellation').disabled=true;
	  }
</script>
</body>
</html>